@import "tailwindcss";

@theme {
  --color-ice-blue: #cae9ff;
  --color-deep-navy: #002442;
  --color-midblue: #3a7ca5;
  --color-festival-yellow: #e8a94e;
  --color-dark-brown: #3a2416;

  --font-family-display: 'DM Serif Display', serif;
  --font-family-body: 'Nunito', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;

  --breakpoint-wide: 1400px;
}

.forms-mobile  { display: block; }
.forms-tablet  { display: none;  }
.forms-desktop { display: none;  }

@media (min-width: 768px) {
  .forms-mobile  { display: none;  }
  .forms-tablet  { display: block; }
}

@media (min-width: 1400px) {
  .forms-tablet  { display: none;  }
  .forms-desktop { display: block; }
}

:root {
  --color-ice-blue: #cae9ff;
  --color-deep-navy: #002442;
  --color-midblue: #3a7ca5;
  --color-festival-yellow: #e8a94e;
  --color-dark-brown: #3a2416;

  --font-family-display: 'DM Serif Display', serif;
  --font-family-body: 'Nunito', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.schedule-card .schedule-icon::before,
.schedule-card .schedule-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
}

.schedule-card .schedule-icon::before {
  left: 0;
  bottom: -30px;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px var(--clr);
}

.schedule-card .schedule-icon::after {
  top: 0;
  right: -30px;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px var(--clr);
}

body {
  font-family: var(--font-family-body);
}
